.btn {
	display: inline-block;
	border-color: black;
	text-align: center;
	margin: 0 auto;

}

#closebtn {
	background-color: black;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	color: white;
	font-size: 25px;
}

.fa-bars {
	color: white;
	font-size: 60px;
}

.fa-times{
	font-size: 25px;
}

.close {
	color: black;
	font-size: 25px;
}